@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code Excercise</h1>
    <p class="lead">Click below button to search for city pollution.</p>
    <p><a href="@Url.Action("Index", "Location")" class="btn btn-primary btn-lg">Search &raquo;</a></p>
</div>